name: Release Version

env:
  DOTNET_VERSION: 8.0
  DOTNET_ROOT: /usr/share/dotnet
on:
  push
jobs:
  release:
    name: Build and Release Package
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - uses: snyk/actions/setup@master

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Run Unit Tests
      run: dotnet test Bank/Bank.Domain.Tests/Bank.Domain.Tests.csproj --logger trx

    - name: Build project
      run: dotnet build Bank/Bank.Domain/Bank.Domain.csproj -c Release

    - name: Create Release Package
      run: dotnet pack Bank/Bank.Domain/Bank.Domain.csproj -c Release -o out

    - name: Create Git tag
      run: |
        VERSION=$(grep -oP '(?<=<Version>)(.*?)(?=</Version>)' Bank/Bank.Domain/Bank.Domain.csproj)
        echo "Current Version: $VERSION"

        TAG="v${VERSION}"

        # Verifica si el tag ya existe en el remoto
        while git ls-remote --tags origin "$TAG" | grep -q "$TAG"; do
          echo "Tag $TAG already exists. Incrementing version."
          # Si el tag existe, incrementa la versión
          VERSION_INCREMENTED=$(echo $VERSION | awk -F. -v OFS=. '{$NF++;print}')
          TAG="v${VERSION_INCREMENTED}"
          VERSION=$VERSION_INCREMENTED  # Actualiza la versión para seguir incrementando 
          echo "New version with increment: $TAG"
        done
        echo "NAME=$TAG" >> $GITHUB_ENV
        # Crear el nuevo tag
        git tag $TAG
        git push origin $TAG

    - name: tags available
      run: |
        git fetch --tags
        echo "Tags available after fetch:"
        git tag -l

    - name: Publish Release
      uses: ncipollo/release-action@v1
      with:
        tag: ${{ env.NAME }}
        name: "Release ${{ env.NAME }}"
        files: out/*.nupkg
        token: ${{ secrets.GH_TOKEN }}